<!DOCTYPE html>
<html lang="pt-br" ng-app="lista-telefonica">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Telefonica</title>

    <!-- Links Css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.css">

    <!-- Links Angular -->
    <script src="angular/angular.js"></script>


</head>

<body ng-controller="controller-lista-telefonica">

    <div class="jumbotron">
        <h3> {{app}} </h3>
        <table class="table table-striped" ng-show="contatos.length > 0">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
                <th></th>
            </tr>
            <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
                <td>
                    <input type="checkbox" ng-model="contato.selecionado" />
                </td>
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
                <td>
                    <div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div>
                </td>
            </tr>
        </table>
        <hr />
        <form name="contatoForm">
            <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome" ng-required="true" />
            <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone" />

            <select ng-model="contato.operadora" class="form-control"
                ng-options="operadora.nome for operadora in operadoras">
                <option value="">Selecione uma operadora</option>
            </select>
        </form>

        <button class="btn btn-primary btn-block" ng-click="adcContato(contato);" ng-disabled="">Adicionar
            Contato</button>

        <button class="btn btn-danger btn-block" ng-click="apagarContato(contatos);"
            ng-if="isContatoSelecionado(contatos);">Apagar Contato</button>

    </div>
    <!--só as aspas duplas o angular entende que é uma variável de $scope-->
    <div ng-include="'footer.html'"></div>

    <!-- links de js -->
    <script src="js/sccript.js"></script>

</body>

</html>